extends ../layout/main

block middle
  .dizayn_architect
      .container 
        .dizayn_architect--desc 
          .dezayn_architect__header 
            .dizayn_architect__header--date 
              .dizayn_architect__number ID: 4256
              .dizayn_architect__number -20% Start
            .dizayn_architect__header--date--1
              p Architecture design
              .Numebr 600 000 so‘m
               .designer-business 
            .designer-business-bowler
            .designer-company Buyurtmachi
            .Web-designer
              img(src="assets/images/Extera.svg", alt="img") 
              .diz RedFox Company
            .graphic-designer
              img(src="assets/images/vector (3).svg" alt="img")
              .dizayner-order To‘lov kafolatlangan    
          .dizayn_architect__main 
            h1 RedFox va Avangard CG hamkorligi to'g'risida SMM post tayyorlash kerak. 
            h2 Tavsif
            .dizayn_architect__main-hero 1. Kompaniya haqida:
            p  Kompaniyasining asosiy faoliyat turi kompyuter qurilmalari, maishiy texnika va elektronikaning chakana savdosini tashkil etish hisoblanadi. Internet magazin va yetkazib berish xizmati ham mavjud bo'ladi.
            .dizayn_architect__main-hero 2. Logoda bo'ladigan matnning to'liq nomi va shakli:
            p  Logo matni: Goodmark
            .dizayn_architect__main-hero 3. Qanday predmetni ko'rishni xohlaysiz:
            p Kreativ yondoshish kerak. Erkin ijod. Qizil va qora rang mijozga yoqadi.
            .dizayn_architect__main-hero 4. Qayerlarda ishlatilishi haqida ma'lumot
            p Ijtimoiy tarmoqlarda, reklamalarda, logo ishlatiladigan barcha joylarda.
            .dizayn_architect__main-hero 5. Maqsadli auditoriya bozoringizni tavsiflang - jins, yosh, geografiya va boshqa demografik xususiyatlar:
            p Ya'ni mijozlaringiz kim? Moliyaviy holati qanday? Econommi Yoki Premium class auditoriya asosan erkaklar, o'rta va yuqori qatlam vakillari.
            .dizayn_architect__main-hero 7. Kompaniya tarixi (mavjud bo'lsa):
            p  Mavjud emas
            .dizayn_architect__main-hero 8. Korxona raqobatchilari:
            .dizayn-web
              li  Mediapark 
              li Texnomart
              li Olcha.uz
              li BOXCOM
              li MYCOM
              li Nout.uz
              li asaxiy.uz
              li logo tayyorlangandan so'ng qisman vizual aydentika ko'rsatib berish kerak.
              .dizayn__arctiv 
                hr
                .dizayner-ar
                  .dizayner-art Start berildi
                  .dizayner-art-1 Muddat
                  .dizayner-art-2 Qoldi
                .dizayner__vert 
                  .dizayner-portfoliya 24.07.2020
                  .dizayner-portfoliya-deta 1 hafta
                  .dizayner-portfoliya-copaneshn 36 soat
        //- .designer-business 
        //-   .designer-business-bowler
        //-     .designer-company Buyurtmachi
        //-     .Web-designer
        //-       img(src="assets/images/Extera.svg", alt="img") 
        //-       .diz RedFox Company
        //-     .graphic-designer
        //-       img(src="assets/images/vector (3).svg" alt="img")
        //-       .dizayner-order To‘lov kafolatlangan