block main  
    header.header
        .container
            .header__in
                a(class="header__logo" alt="Logo" href="/")
                    img(src="assets/images/logo.svg")
                .header__menus
                    ul.header__nav.nav 
                        li.nav__item 
                            a(href="#" class="nav__link") About Us
                        li.nav__item
                            a(href="#" class="nav__link") What's news
                        li.nav__item
                            a(href="#" class="nav__link") Designers
        
        
                            