footer.footer
    .container
            .footer__in
                .footer__left
                    .footer__logo
                        img(src="assets/images/logo.svg")
                    p.footer__left-text  Bizning maqsadimiz - 
                                span.footer__left-blueText Frilansus.com 
                                | ni hamma uchun haqiqatandan ham samarali va yoqimli faoliyatga aylantirish. Bizga qo'shiling!
                
                .footer__right
                    ul.footer__menu
                        li.menu__item Bo‘limlar
                        li.menu__item
                            a(href="#" class="menu__link") Biz haqimizda
                        li.menu__item
                            a(href="#" class="menu__link") Nima yangiliklar
                        li.menu__item
                            a(href="#" class="menu__link") Dizaynerlar

                    ul.footer__menu
                        li.menu__item Contact
                        li.menu__item
                            a(href="tel:977785008" class="menu__link") 97 778 50 08
                        li.menu__item
                            a(href="tel:973355900" class="menu__link") 97 335 59 00
                        li.menu__item
                            a(href="https://t.me/redfoxmanager" class="menu__link") Online yozing

                    ul.footer__menu
                        li.menu__item Ijtimoiy tarmoqlar
                        li.menu__item
                            a(href="https://t.me/frilansus" class="menu__link") Telegram
                        li.menu__item
                            a(href="http://instagram.com/frilansus" class="menu__link") Instagram
                        li.menu__item
                            a(href="http://facebook.com/frilansus" class="menu__link") Facebook

.footer__bottom
    .container
        .footer__wrapper
            .footer__bottom-left
                .footer__bottom-leftText © 2016 — 2021 Frilansus.com  |  All right reserved.
            .footer__bottom-right
                .footer__bottom-rightText Powered by 
                    span
                        img(src="assets/images/redfox-fox.svg", alt="fox-icon" class="fox-icon")
                    | &nbsp;RedFox company 