include ../mixins
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="assets/css/index.css")
		link(rel='preconnect' href='https://fonts.gstatic.com')
		link(href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap' rel='stylesheet')
		title Bosh sahifa
	body
		.wrapper
			include ../components/Header/Header
			main.middle
				block middle
			include ../components/Footer/Footer

		script(src="assets/js/index.js")
